<?xml version="1.0" encoding="utf-8"?>
 
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    id="NewsRack"
    version="2.4">

  <display-name>NewsRack </display-name>
  <description> News Rack -- newsrack.in installation </description>

<!-- Set up a servlet listener so that we can initialize the web app! -->
  <listener>
    <listener-class> newsrack.NRServletContextListener </listener-class>
  </listener>

  <context-param>
    <param-name>server-url</param-name>
    <param-value>http://newsrack.in</param-value>
  </context-param>

<!-- URLRewrite filter -->
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>ERROR</param-value>
    </init-param>
    <init-param>
      <param-name>confReloadCheckInterval</param-name>
      <param-value>-1</param-value>
    </init-param>
  </filter>

<!-- OSCache Caching filter -->
  <filter>
    <filter-name>CacheFilter</filter-name>
    <filter-class>com.opensymphony.oscache.web.filter.CacheFilter</filter-class>
    <init-param>
      <param-name>time</param-name>
      <param-value>900</param-value> <!-- 15 minutes -->
    </init-param>
    <init-param>
      <param-name>oscache-properties-file</param-name>
      <param-value>response.oscache.properties</param-value> <!-- 15 minutes -->
    </init-param>
  </filter>

<!-- Struts 2 filter -->
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>

<!-- filter mappings -->
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

<!-- Check the following message for why the dispatcher entries are required.  -SSS.
     http://groups.google.com/group/urlrewrite/browse_thread/thread/f30375f99370fed9/6295ef4aba27b884?lnk=gst&q=filter+chain&rnum=1#6295ef4aba27b884 -->
  <!-- cache all api requests -->
  <filter-mapping>
    <filter-name>CacheFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
    <dispatcher> forward </dispatcher>
    <dispatcher> request </dispatcher>
  </filter-mapping>
  
<!-- Check the following message for why the dispatcher entries are required.  -SSS.
     http://groups.google.com/group/urlrewrite/browse_thread/thread/f30375f99370fed9/6295ef4aba27b884?lnk=gst&q=filter+chain&rnum=1#6295ef4aba27b884 -->
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher> forward </dispatcher>
    <dispatcher> request </dispatcher>
  </filter-mapping>

<!-- Force the use of Xerces validating parser independent of which servlet container I use ...  -->
  <system-property javax.xml.parsers.DocumentBuilderFactory="org.apache.xerces.jaxp.DocumentBuilderFactoryImpl" />
  <system-property javax.xml.parsers.SAXParserFactory="org.apache.xerces.jaxp.SAXParserFactoryImpl" />
  <system-property javax.xml.transform.TransformerFactory="org.apache.xalan.processor.TransformerFactoryImpl" />
</web-app>
